<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Adicionar Topico</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <div th:if="${!#strings.isEmpty(mensagemNameUser)}">
                <h1 th:text="${mensagemNameUser}"></h1>
            </div>
            <form method="POST" action="/topico">
                <div th:if="${!#strings.isEmpty(mensagemSucess)}">
                    <h2><span th:text="${mensagemSucess}"></span></h2>
                </div>
                <br>
                <br>
                <label>Assunto</label>
                <input type="text" name="assunto">
                <label>Mensagem</label>
                <input type="text" name="mensagem">
                <button type="submit">Save</button>
            </form>
        </div>
        <br>
        <br>
        <h3><a th:href="@{/topico}">Meus tópicos</a></h3>
        <h3><a th:href="@{/topico/allTopicos}">Ir para tópicos gerais</a></h3>
    </body>
</html>
