<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Adicionar Topico</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Inserir topico</h1>
            <form method="POST" action="/topico">
                <label>Assunto</label>
                <input type="text" name="assunto">
                <label>Mensagem</label>
                <input type="text" name="mensagem">
                <button type="submit">Save</button>
            </form>
            <br>
            <br>
            <br>
        </div>
        <div>
            <h2>Meus tópicos</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Assunto</th>
                        <th>Mensagem</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="topicoUser : ${topicosUser}">
                        <td th:text="${topicoUser.id}"></td>
                        <td th:text="${topicoUser.assunto}"></td>
                        <td th:text="${topicoUser.mensagem}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
