<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Tópicos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Todos os tópicos</h1>
            <!--<a th:href="@{/topico/insert/${id}}">Voltar</a>-->
            <table border="1">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Assunto</th>
                        <th>Mensagem</th>
                        <th>Curti</th>
                        <th>Descurtir</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="topico : ${topicosUsers}">
                        <td th:text="${topico.id}"></td>
                        <td th:text="${topico.assunto}"></td>
                        <td th:text="${topico.mensagem}"></td>
                        <td><a th:href="@{'/voto/curtir/'+${topico.id}}">Curtir</a></td>
                        <td><a th:href="@{'/voto/descurtir/'+${topico.id}}">Descurtir</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
