<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Usuarios</h1>
            <table border="1">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Acction</th>
                        <th>Acction</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.nome}"></td>
                        <td><a th:href="@{'/topico/formTopico/'+ ${user.id}}">Inserir Tópico</a></td>
                        <td><a th:href="@{/topico}">Listar todos os Tópicos</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
